:root.theme-dark {
  /*рекомендованная схема, но не работает*/
  --color: #f1b2ce;
  --accent-color: #db00ff;
  --bg-color: #000028;
  --accent-bg-color: #ff0070;
}
.page.theme_dark {
  --color: #f1b2ce;
  --accent-color: #db00ff;
  --bg-color: #000028;
  --accent-bg-color: #ff0070;
  background-image: url(../images/cover-image-dark.png);

  & .header,
  & .footer,
  & .section__title {
    --color: var(--accent-bg-color);
  }
  & .header-decor {
    display: flex;
  }
  & .header__theme-menu-button:hover {
    border-color: #ff007066;
  }
  & .title-decor {
    color: var(--bg-color);
  }
}
