:root.theme-light {
  /*рекомендованная схема, но не работает*/
  --color: #353430;
  --accent-color: #ffc2e6;
  --bg-color: #fff1f7;
  --accent-bg-color: #ff8dcb;
}
.page.theme_light {
  --color: #353430;
  --accent-color: #ffc2e6;
  --bg-color: #fff1f7;
  --accent-bg-color: #ff8dcb;
  background-image: url(../images/cover-image-light.png);
  & .header,
  & .footer,
  & .title-decor,
  & .section__title {
    color: var(--color);
  }
  & .header-decor {
    display: none;
  }
  & .header__theme-menu-button:hover {
    border-color: #35343066;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #353430;
    --accent-color: #ffc2e6;
    --bg-color: #fff1f7;
    --accent-bg-color: #ff8dcb;
  }
  .page {
    background-image: url(../images/cover-image-light.png);
    & .header,
    & .footer,
    & .title-decor,
    & .section__title {
      color: var(--color);
    }
    & .header-decor {
      display: none;
    }
    & .header__theme-menu-button:hover {
      border-color: #35343066;
    }
  }
}
